@import url("fonts.css");
@import url("header.css");
@import url("footer.css");

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}